#footer-wrap {
  background-color: var(--admi-acrylic3);
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px 20px;
}

#footer-copyright,
#footer-rundays {
  white-space: nowrap;
}

#footer-framework-info > a {
  margin-right: 8px;
}

#footer-rundays {
  flex-grow: 1;
  text-align: right;
  margin-left: 5px;
  white-space: wrap;
}

#footer-copyright {
  margin-right: 20px;
  margin-bottom: 5px;
}

#footer-framework-info {
  margin-bottom: 5px;
}

#footer {
  /* margin-top: auto; */
  /* margin-bottom: 0px; */
  /* bottom: 0px; */
  position: sticky;
  top: 100%;
  /* left: 0px; */
  /* right: 0px; */
}

div{
  color: var(--admi-fontcolor);
}