.nav-group-item {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.nav-item {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: 100px calc(100% - 100px);
  grid-template-rows: 40% 60%;
  border-radius: 15px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.nav-item:last-of-type {
  margin-right: auto;
}

.nav-avatar {
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 15px;
  border-radius: 50%;
  overflow: hidden;
}

.nav-name {
  margin: 12px 15px 0 0;
  font-size: 22px;
  font-weight: 700;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-height: 1.2;
  word-wrap: break-word;
}

.nav-desc {
  margin: 0 15px 15px 0;
  line-height: 1.5;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 1300px) {
  .nav-item {
    width: calc(25% - 20px);
  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .nav-item {
    width: calc(33% - 20px);
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .nav-item {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 600px) {
  .nav-item {
    width: 100%;
  }
}

.nav-avatar-img {
  height: 90%;
  object-fit: cover;
  inset: 0;
  left: 5px;
  top: 5%;
  position: absolute;
}

#navs {
  margin-bottom: 20px;
}

.nav-status {
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
  bottom: 10px;
  font-size: 14px;
  border-radius: 15px;
  padding: 3px 5px;
  /* background-color: #fff6; */
  color: var(--admi-fontcolor);
}

.nav-status svg {
  width: 28px;
  height: 28px;
  color: white;
  /* margin-right:5px; */
}

svg.nav-none-icon {
  width: 36px;
  height: 36px;
  position: relative;
  left: 3px;
  top: 5px;
}
